extends layout

block content
  h1= "Message Board"
  p Welcome to #{title} - 

    a(href='/new') Add Message
    div.boardContainer 
      each val in messages
        div.message 
          p #{val.user}
          p #{val.text}
          p #{val.added}




